body {
  padding: 15px 30px;
}
.header {
  font-weight: 40;
}
.header_1 {
  font-weight: 40;
  font-size: 28px;
}
.title, h1 {
  text-align: center;
}
.mail {
  text-indent: 20px;
}
article {
  column-count: 3;
}
